{% load static %}
<!DOCTYPE html>
<style>
    body, html {
        height: 100%;
        margin: 0;
    }


    .bg {
        background-image: url("https://i.imgur.com/NXl4S8j.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login - IoT Dashboard</title>

</head>
</div>

<body>
{% load crispy_forms_tags %}
<div class="bg">
    <center>
        <center><h1 style="font-weight: bold; color: #ffffff; font-size: 85px ">ThingsBoard : Simplify</h1></center>
        {% block content %}
            <br><br><br><br>
            <br><br><br><br><br><br>
            <div class="col-md-2">
                <div class="card bg-transparent shadow-lg" style="width: 25rem; border-radius: 15px">
                    <center><h1>Sign in</h1></center>
                    <br>
                    <div class="content-section">
                        <form method="post">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="fieldBox mb-8"></legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <center>
                                    <button class="btn btn-outline-info" type="submit">Login</button>
                                </center>
                                <br>
                                <br>
                            </div>
                        </form>
                        <center>
                            <div class="border-top pt-3" style="color:white">
                                Want to join? <a class="ml-2" style="color:white; font-weight: bold"
                                                 href="{% url 'signup' %}">Signup</a>
                                <div class="border-top pt-3" style="color:white">
                                    <a class="ml-2" style="color:white; font-weight: bold"
                                       href="{% url 'password_reset' %}">Forgot Password?</a>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>



        {% endblock content %}

    </center>
</div>

