{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br><br><br><br>

    <div class="col-md-4">
        <div class="card  bg-light shadow-lg" style="width: 65rem; border-radius: 15px">
            <center><h1>Reset Password</h1></center>
            <div class="content-section">
                <form  method="post">
                    {% csrf_token %}
                    <label for="email">Enter email: </label>
                    <input id="email" type="text" name="email_form_field">
                    <input type="submit" value="Request Password Reset">
                </form>
            </div>
        </div>
    </div>

{% endblock content %}