{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br><br><br><br>

    <div class="col-md-4">
        <div class="card  bg-light shadow-lg" style="width: 65rem; border-radius: 15px">
            <center><h1>Reset Password</h1></center>
            <div class="content-section">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="fieldBox mb-4"></legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <center>
                            <button class="btn btn-outline-info" type="submit">Reset Form</button>
                        </center>
                    </div>
                </form>

            </div>
        </div>
    </div>


{% endblock content %}