{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br><br><br><br>

        <div class="col-md-4">
            <div class="card  bg-light" style="width: 45rem; border-radius: 15px">
                <center><h1>Register a Human</h1></center>
                <div class="content-section">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="fieldBox mb-4"></legend>
                            {{ form|crispy }}

                        </fieldset>
                        <div class="form-group">
                            <center>
                                <button class="btn btn-outline-info" type="submit">Register</button>
                            </center>
                        </div>
                    </form>
                    <center>
                        <div class="border-top pt-3">
                            Registered Already? Great, head up this way <a class="ml-2" href="#">Login</a>
                        </div>
                    </center>
                </div>
            </div>
        </div>


{% endblock content %}