{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <h1>Add New Address</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="fieldBox mb-4"></legend>
            {{ form.as_p.format }}
        </fieldset>
        <div class="form-group">
            <center>
                <button class="btn btn-outline-info" type="submit">Add</button>
                <br>
            </center>
        </div>
    </form>
    <hr>
    <br>
    <h1>Existing Addresses</h1>
    {% for address in existing_addresses %}
        <div class="card bg-light shadow p-lg-3" style="width: 35rem; border-radius: 15px">
            <h5>Street: {{ address.street }}</h5>
            <h5>Zip: {{ address.zip }}</h5>
        </div>
        <br>
    {% endfor %}
{% endblock content %}

