{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <h1>Add New Device Model in your Catalogue</h1>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="fieldBox mb-4"></legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <center>
                <button class="btn btn-outline-info" type="submit">Update</button>
            </center>
        </div>
    </form>
    <hr>
    <br>
    <h1>Existing Device Models in Catalogue</h1>
    {% for device_models in existing_device_models %}
        <div class="card  bg-light shadow p-3 mb-5 bg-white rounded" style="width: 28rem; border-radius: 25px">
            <br>
            <center><img src="{{ device_models.image.url }}" class=" card-img-top" alt="..." style="height: 75%; width:
            75%;">
            </center>
            <div class="card-body">
                <h4>Product Name: {{ device_models.name }}</h4>
                <h5>Warranty in Days: {{ device_models.warranty_days }}</h5>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock content %}

