{% extends "dashboard/base.html" %}
{% block content %}
    <br><br><br><br>

    <div class="col-md-4">
        <div class="card  bg-light" style="width: 18rem; border-radius: 25px">
            <form action="/your-name/" method="post">
                <label for="device_type">Device Type: </label>
                <input id="device_type" type="text" name="device_type">

                 <label for="description">Description: </label`>
                <input id="description" type="text" name="description">

                 <label for="image_path">Image: </label>
                <input id="image_path" type="text" name="image_path" >

                 <label for="device_type">Device Type: </label>
                <input id="device_type" type="text" name="device_type" >

                 <label for="device_type">Device Type: </label>
                <input id="device_type" type="text" name="device_type" >

                <input type="submit" value="OK">
            </form>
        </div>
    </div>
    <br>

{% endblock content %}r

