{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br><br><br><br>

    <div class="col-md-4">
        <div class="card  bg-light" style="width: 40rem; border-radius: 25px">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="fieldBox mb-4"></legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <center>
                        <button class="btn btn-outline-info" type="submit">Register</button>
                    </center>
                </div>
            </form>
            </form>
        </div>
    </div>
    <br>
 <hr>
    <br>

{% endblock content %}r

