{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br><br><br><br>
     <div class="content-section">
    <div class="col-md-4">
        <div class="card  bg-light" style="width: 40rem; border-radius: 25px">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="fieldBox mb-4"></legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <center>
                        <button class="btn btn-outline-info shadow" type="submit">Add</button>
                    </center>
                </div>
            </form>

        </div>
    </div>
     </div>
    <br>
    <hr>
    <br>

{% endblock content %}r

