{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <h1>Add New Manufacturer</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="fieldBox mb-4"></legend>
            {{ form|crispy }}

        </fieldset>
        <div class="form-group">
            <center>
                <button class="btn btn-outline-info" type="submit">Register</button>
            </center>
        </div>
    </form>

    <br>
    <h1>Existing Manufacturers</h1>
    {% for manufacturers in existing_manufacturers %}
        <h2>Name: {{ manufacturers.name }}</h2>
        <h3>{{ manufacturers.address.street }}</h3>
        <h3>{{ manufacturers.phone_number }}</h3>
        <h3>{{ manufacturers.is_certified }}</h3>
    {% endfor %}
{% endblock content %}

