{% extends "dashboard/base.html" %}
{% block content %}
    <br><br><br><br>
    {% for thing in things %}
        {% if forloop.first %}
            <div class="row">
        {% endif %}
    <div class="col-md-4">
        <div class="card  bg-light" style="width: 18rem; border-radius: 25px">
           <center> <img src="https://i.imgur.com/SAnmzn0.png"  class="card-img-top" alt="..." style="height: 66%; width: 66%;"></center>
            <div class="card-body">
                <h5 class="card-title"> Device : {{ thing.name }}</h5>
                <p class="card-text"> Max Life: {{ thing.max_lifetime }}</p>
                <p class="card-text"> Used: {{ thing.lifetime_used }}</p>
                <p class="card-text"> Date manufactured: {{ thing.mfg_date }}</p>
                <p class="card-text"> Last Serviced: {{ thing.last_cleaned }}</p>
                <a href="#" class="btn btn-primary" >See Details</a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}</div>
        <br>
        <div class="row">
    {% endif %}
    {% if forloop.last %}</div>{% endif %}

    {% endfor %}

{% endblock content %}

